.vs/list/v14/.suo
list/obj/Debug/DesignTimeResolveAssemblyReferences.cache
list/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
list/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
list/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
list/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
list/obj/Debug/list.Properties.Resources.resources
list/obj/Debug/list.commander.resources
list/obj/Debug/list.csproj.FileListAbsolute.txt
list/obj/Debug/list.csproj.GenerateResource.Cache
list/obj/Debug/list.csprojResolveAssemblyReference.cache
list/bin/Debug/hard.ico
list/bin/Debug/list.exe
list/bin/Debug/list.exe.config
list/bin/Debug/list.pdb
list/bin/Debug/list.vshost.exe
list/bin/Debug/list.vshost.exe.config
list/bin/Debug/list.vshost.exe.manifest
list/obj/Debug/list.exe
